*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5efe2;
color:#333;
}


header{
background:#556b2f;
color:white;
text-align:center;
padding:25px;
}


header img{
width:120px;
}


header h1{
margin:15px;
}


.packs{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:20px;
padding:30px;
}


.pack{
background:white;
padding:25px;
text-align:center;
border-radius:15px;
box-shadow:0 3px 10px #bbb;
}


.pack h2{
color:#8b0000;
}


.pack h3{
color:#556b2f;
font-size:25px;
margin:15px;
}


button{
background:#8b0000;
color:white;
border:0;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
}


button:hover{
background:#556b2f;
}


.commande{
background:white;
max-width:500px;
margin:auto;
padding:30px;
border-radius:15px;
box-shadow:0 3px 10px #bbb;
}


.commande h2{
text-align:center;
color:#556b2f;
margin-bottom:20px;
}


input,select{

width:100%;
padding:13px;
margin:8px 0;
border-radius:8px;
border:1px solid #ccc;

}


.envoyer{
width:100%;
background:#25D366;
}


footer{
margin-top:30px;
background:#556b2f;
color:white;
padding:20px;
text-align:center;
}
